---
import routes from "@/constants/routes";
import type { RouteTitle } from "@/constants/routes";
import { parsePath } from "@/utils/path";

const { title, disableNav = false } = Astro.props;

const RouteTitleIconMap: Record<RouteTitle, string> = {
  "Overview": "i-fluent-mdl2-view-dashboard",
  "Proxies": "i-fluent-mdl2-globe",
  "Connections": "i-fluent-mdl2-plug-connected",
  "Logs": "i-fluent-mdl2-document-set",
  "Settings": "i-fluent-mdl2-settings"
};

---

<header min-h-16 border-solid border-b border-base sm-px-6 px-4 flex items-center>
  <a href={parsePath("/overview")} c-black decoration-none>
    <h1 text-4 font-normal>
      <span leading-1rem font-200 op-50 block>Meta Dashboard</span>
      <span leading-1rem text-lg block>{title}</span>
    </h1>
  </a>
  <div flex-auto />
  { !disableNav && <nav flex gap-1 items-center>
    {
      routes.map(route => (
        <div p-0 m-0 rd-1 c-gray-500 transition class={title === route.title ? "c-black! bg-gray-200": "hover:bg-gray-100"}>
          <a p-2 block c-inherit flex items-center decoration-none href={route.path}>
            <div class={RouteTitleIconMap[route.title]} />
            { route.title === title && <span text-sm m-l-2 leading-1em hidden sm-block>{route.title}</span> }
          </a>
        </div>
      ))
    } </nav>
  }
</header>